<td>{{input type="text" value=archive.title}}</td>
<td>{{media-input}}</td>
<td>{{display-type-input}}</td>
<td>{{input type="text" value=archive.description}}</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td><button {{action delete-archive}}>x</button></td>
