<td>{{input type="text" value=archive.title}}</td>
<td>{{media-input value=archive.mediaType}}</td>
<td>{{display-type-input}}</td>
<td>{{input type="text" value=archive.description}}</td>
<td>{{input value=archive.timeIn}}</td>
<td>{{input value=archive.timeOff}}</td>
<td>{{input type="text" value=archive.date}}</td>
<td>{{source-input selectedSource=archive.source archive=archive}}</td>
<td><input></td>
<td><input></td>
<td><button {{action delete-archive}}>x</button></td>
